# Core data handling
pandas
numpy
pyarrow        
pymongo
scorecardpy

# ML models
scikit-learn
xgboost
imbalanced-learn

# Experiment tracking
mlflow

# Dashboard
streamlit
matplotlib
plotly          

# Config / utils
PyYAML
python-dotenv     

# Serialization
dill
streamlit